body{
    font-family: Hind;
    font-size:17px;
    background-color: #FFDB4A;
    color: #6792bf;
}
h1,h2{
    font-size: 60px;
    font-family: Montserrat;
    text-align: center;
    margin: .1em;
}

h3, h4, h5, h6{
    font-family: Montserrat;
    font-size: 20px;
    text-align: center;
    
}
header{
    text-align: center;
}


#hero, footer {
    color:#FFDB4A;
    background-color: #657280;
    text-align: center;
    padding: 1px;
    border: 6px solid #4AA2FF;
    border-radius: 25px;
    margin: 10px;
}

#hero img {
    width: 300px;
}

/* Bio Section */

#bio{
    text-align: center;
}

/* Hobbies Section */
#hobbies  {
    display:flex;
    flex-direction: column;
    align-items: center;
}
#hobbies ul {
    list-style: none;
    width:66%;
    margin: 0;
    padding: 0;
}

#hobbies li{
    
    text-align: center;
    margin: .5em;
    background: #657280;
    color: #FFdb4a;
    border-radius: 25px;
    border: 3px solid #4AA2FF;
    
   
}

/*Gallery Section */

#gallery {
    border: 6px solid  #4AA2FF;
    border-radius: 25px;
}

#gallery img {
    max-width: 100%;
}

#gallery figure {
    text-align:center;
}


/*Literature */

#lit {
    
    border: 6px solid #4AA2FF;
    border-radius: 25px;
    padding: .75rem 3rem; 
    margin: 10px 0;
    
}

#lit div{
    background-color: #4AA2FF;
    color: #FFDB4A;
    padding:20px;
    border-radius: 25px;
   
}

#lit div p:first-child:first-letter{
    color:black;
    font-weight: bold;
    clear:both;
    text-shadow: 5px 5px 5px #FFDB4A;
    font-size:4em;
    padding:10px;
    line-height: .60rem;
    float:left;
    border:4px  dashed #FFDB4A; 
    margin-right:.1em;
    border-radius: 25px;
}
/* Tablet Size */
@media screen and (min-width:60em) {
    figure{ 
        display:grid;
        grid-template-columns: 2fr 1fr;
    }

    figcaption{
        display:flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        margin-left: 1rem;
    }

    #lit div {
        max-width: 100%;
        columns: 20rem;

    }

}

@media screen and (min-width:100em) {
    #gallery {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    hr{
    display:none;
    }

    #gallery h2{
        display:block;
        grid-column: 1/-1;
    }

    figure {
        display:block;
    }
}
   


